
.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.cards {
  margin-top: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

.card {
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px; 
}

.footer {
  padding: 10px;
  background-color: #333;
  color: white;
  text-align: center;
}
